*{
	height: 0px;
	width:0px;
	padding:0px;
	margin: 0px;
	box-sizing: border-box;
}
.a{
	height:700px;
	width:1200px;
	background-color: blue;
	float:left;
	margin-left: 30px;

}
.b{
	height:550px;
	width: 400px;
	background-color:white;	
	margin-top:30px;
	margin-left:50px;
	float: left;
}
.c{
	height:670px;
	width:700px;
	float: right;
	background-color:blue;
	margin-top: 20px;
	margin-right:15px;

}
.d{
	height:250px;
	width:680px;
	background-color: white;
	float: left;
	margin-top:10px;
/*	margin-right:5px;*/

}
.e{
	height: 300px;
	width: 700px;
	background-color: white;
	float: right;
	margin-top:7%;
	padding-left:30%;
}
.i{
	font-size:px;
	color: blue;
	padding-top:10%;
	padding-left: 40%;
}