*{
	margin:0px ;
	box-sizing: border-box;
}
.d1{
	margin-left: 20%;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}
.k1{
	font-size: 50px;
}
.w{
	font-size: 20px;
}
.e{
	font-size: 20px;
}
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}
.q{
	padding-top: 50px;
	padding-left: 40px	;
	font-size: 45px;
}
.s{
	font-size: 20px;
	padding-left: 40px;
}
.id{
	font-size: 40px;
}
.r5{
	padding-left: 30px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#ut {
  position: relative;
  text-align: center;
  color:black;
}
#r4{
	font-size:40px;
}
#r3{
	font-size: 20px;
	color: white;
	background-color: blue;
}
#t6{
	padding-top: 50px;
}
.alpha { color: $purple; }
.beta {
  color: $yellow-300;
  background-color: $pink-100;
}
#y7{
	padding-top:30px ;
	padding-bottom: 20px;
}